.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.topo {
  background-color: rgb(var(--loja-blue-rgb));
  color: rgb(var(--loja-light-grey-rgb));
  font-family: var(--font-mono);
  font-size: 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
  padding: 2rem;
}

.topo div:nth-child(1) {
  text-align: left;
  width: 10%;
}

.topo div:nth-child(2) {
  text-align: center;
  width: 80%;
}

.topo div:nth-child(3) {
  text-align: right;
  width: 10%;
}


.mainmenu {
  background-color: rgb(var(--loja-light-grey-rgb));
  color: rgb(var(--foreground-rgb));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3vh;
  font-family: var(--font-mono);
  font-size: 1rem;
}

.mainmenu ul {
  list-style-type: none;
  width: 100%;
}

.mainmenu ul li {
  border: 1px solid rgb(var(--loja-blue-rgb));
  border-collapse: collapse;
  display: inline-block;
  text-align: center;
  width: 25%;
  height: 3vh;
}

.mainmenu ul li:hover {
  cursor: pointer;
}

.centro {
  color: rgb(var(--foreground-rgb));
  width: 100%;
  height: 77vh;
  padding: 1rem;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rodape {
  background-color: rgb(var(--loja-blue-rgb));
  color: rgb(var(--loja-light-grey-rgb));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  padding: 0.5rem;
  font-family: var(--font-mono);
  font-size: 1rem;
}